{% extends "layout.html" %}
{% block body %}
<h1>Actualización del estado del tercero: {{student.nombre}} {{student.apellido}}</h1>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/update/{{student.id}}" method="POST">
        <div class="row">
          <div class="form-group">
            <label for="tipo_documento">Estado</label>
            <select class="form-select" aria-label="Default select example" name="estado-f1" id="estado-f1">
              <option value="{{student.estado}}" selected>{{student.estado}} (Opción actual)</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </div>
          <center>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Actualizar
              </button></div>
          </center>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}